<%= content_tag_for(:li, feeling, :class => "feelingList") do %>

	<div>
		<div>

			<span class="btn-group pull-right" >
		
			<%= link_to edit_incident_feeling_path(@incident, feeling), :class => "editFeeling" do %><i class="icon-edit"></i><%end%>
		    <%= link_to [@incident, feeling], :method => :delete, :class => "deleteFeeling", :remote => true do  %>
		    <i class="icon-trash"></i>
		    <%end%>
			
			</span>

		</div>
	</div>


	<div id="feelingContent" class="feelingContent">
		<%= feeling.name %>
		<%= feeling.intensityBefore %>
		<%= feeling.intensityAfter %>
	</div>


<% end %>
