<%= simple_form_for @incident do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :description %>

    <%= f.simple_fields_for :feeling do |feeling_form|  %>
    <fieldset>
      <%= feeling_form.input :name %>
      <%= feeling_form.input :intensityBefore %>
      <%= feeling_form.input :intensityAfter %>
    </fieldset>
    <% end %>
  </div>



  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


