<p id="notice"><%= notice %></p>

<div class="incident-description">
	<p>
	  <b>Description:</b>
	  <%= @incident.description %>
	</p>
</div>


<div class="row">
	<div class="span3">
		<h3>Feelings</h3>
		<ul id="feelingsTC" class="nav navlist">
			<% @incident.feelings.each do |feeling| %>
				<li class="feeling"><a href="#feeling_<%=feeling.id %>"><%= feeling.name %></a></li>
			<%end%>
		</ul>
	</div>	
	<div class="span3">
		<div id="addFeeling" class="btn"><i class="icon-plus"></i> Add a feeling</div>
		<div id="newFeelingPartial" style="display:none"><%= render 'feelings' %></div>
	</div>
</div>



<div class="row">
	<div class="span3">
		<h3>Thoughts</h3>
		<ul id="thoughtsTC" class="nav navlist">
			<% @incident.thoughts.each do |thought| %>
				<li class="thought"><a href="#thought_<%=thought.id %>"><%= thought.thought %></a></li>
			<%end%>
		</ul>
	</div>	
	<div class="span3">
		<div id="addThought" class="btn"><i class="icon-plus"></i> Add a thought</div>
		<div id="newThoughtPartial" style="display:none"><%= render 'thoughts' %></div>
	</div>
</div>



<div>
	<%= link_to 'Edit', edit_incident_path(@incident) %> |
	<%= link_to 'Back', incidents_path %>
</div>