<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @incident.description %>
</p>

<p>
	<b>Attributes</b>
	<%= @incident.attributes %>

</p>

<p>
	<b>Feelings:</b>
	<%= @feelings %>

	

</p>


<%= link_to 'Edit', edit_incident_path(@incident) %> |
<%= link_to 'Back', incidents_path %>
