<p id="notice"><%= notice %></p>


<div class="row">
	<div id="incident-show" class="span3">
		<div class="incident-description">
			<p>
			  <h2>Description:</h2>
			  <%= @incident.description %>
			</p>
		</div>	
		<div>
			<h3>Feelings</h3>
			<ul id="feelingsTC" class="nav navlist">
				<% @incident.feelings.each do |feeling| %>
					<li class="feeling"><a href="#feeling_<%=feeling.id %>"><%= feeling.name %></a></li>
				<%end%>
			</ul>
		</div>
		<div>
			<h3>Thoughts</h3>
			<ul id="thoughtsTC" class="nav navlist">
				<% @incident.thoughts.each do |thought| %>
					<li class="thought"><a href="#thought_<%=thought.id %>"><%= thought.thought %></a></li>
					<ul id="distortionsTC">
					<% thought.distortions.each do |distortion| %>
						<li><%= distortion.name %></li>
					<% end %>
					</ul
				<%end%>
			</ul>
		</div>		
		<div>
			<%= link_to 'Edit', edit_incident_path(@incident) %> |
			<%= link_to 'Back', incidents_path %>
		</div>
	</div><!-- /incident-show -->
	

	<div id="wizard" class="span9">
		<!--  Steps for the CBT wizard:
					1.  Feelings: names & intensityBefore
					2.  Thoughts
					3.  Distortions forEach thought
					4.  rationalThought for each thought
					5.  intensityAfter forEach feeling in feelings
				
		-->
		<div class="tabbable tabs-left">
			<ul id="wizard-nav" class="nav nav-tabs">
					<li><a href="#step1"class="active" data-toggle="tab">Step 1</a></li>
					<li><a href="#step2"class="" data-toggle="tab">Step 2</a></li>
					<li><a href="#step3"class="" data-toggle="tab">Step 3</a></li>
					<li><a href="#step4"class="" data-toggle="tab">Step 4</a></li>
					<li><a href="#step5"class="" data-toggle="tab">Step 5</a></li>
			</ul>
		<div class="tab-content wizard-steps">
			<div id="step1" class="tab-pane active">
				<div>
					<p>List each different feeling and and how intensely you are experiencing it, on a scale of 1 to 10</p>
					<div id="addFeeling" class="btn"><i class="icon-plus"></i> Add a feeling</div>
					<div id="newFeelingPartial" style="display:none"><%= render 'feelings' %></div>
				</div>
			</div>

			<div id="step2" class="tab-pane">
				<div>
					<p>List all the thoughts you had about this incident.</p>
					<div id="addThought" class="btn"><i class="icon-plus"></i> Add a thought</div>
					<div id="newThoughtPartial" style="display:none"><%= render 'thoughts' %></div>
				</div>
			</div>

			<div id="step3" class="tab-pane">
				<p>For each thought you listed, list all the distortions apparrent in that thought.</p>
				<div id="newDistortionsPartial" style="display:"><%= render 'distortions' %></div>
			</div>

			<div id="step4" class="tab-pane">
				<p>For each thought, provide a more rational alternative.</p>
				<div id="addRationalThought" class="btn"><i class="icon-plus"></i> Rational version</div>
				<div id="newRationalThoughtPartial" style="display:"><%= render 'rational_thoughts' %></div>
			</div>

			<div id="step5" class="tab-pane">
				<p>Now go back to each feeling you listed and indicate how you intensely you feel it now.</p>
				<div id="addThought" class="btn"><i class="icon-plus"></i> intensityAfter</div>
				<div id="newIntensityAfterPartial" style="display:"><%= render 'intensity_after' %></div>
			</div>
		</div>


		<script>
			//show the first step on page load
		  $(function () {
		    $('#wizard-nav a:first').tab('show');
		  })
		</script>




	</div><!-- /wizard-->
</div><!-- /row -->


