<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @incident.description %>
</p>

<p>
	<b>Feelings:</b>
	<ul>
	<% @incident.feelings.each do |f| %>
		<li><%= f.name %></li>
	</ul>
	<% end %>
	
<div class="span12">
	<div id="addFeeling" class="btn"><i class="icon-plus"></i> Add a feeling</div>
	<div id="newFeelingPartial" style="display:none"><%= render 'feelings' %></div>
</div>
</p>


<p>
	<b>Thoughts:</b>
	<ul>
	<% @incident.thoughts.each do |f| %>
		<li><%= f.thought %></li>
	</ul>
	<% end %>
	
<div class="span12">
	<div id="addThought" class="btn"><i class="icon-plus"></i> Add a thought</div>
	<div id="newThoughtPartial" style="display:none"><%= render 'thoughts' %></div>
</div>
</p>


<%= link_to 'Edit', edit_incident_path(@incident) %> |
<%= link_to 'Back', incidents_path %>
